.produtc-details{
  h1{
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    font-family: "Source Sans Pro", sans-serif;
    color: #333333;
  }

  h6 {
    font-size: 16px;
    color: #555;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    span{
      font-weight: bold;
    }
  }
  p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}
